<!--This page implements score display, including filters, sorting and export functions.-->
<head>
    <meta charset="UTF-8">
    <title>Scores</title>
</head>
<body>
<h2>Scores List</h2>
<!--Filters and sorts setting-->
<form class="form-inline" action="/data" method="get">
    {{#idInArray roles "teacher"}}
        <div class="form-group">
            <label for="studentFilter">Student</label>&nbsp;
            <select class="form-control" id="studentFilter" name="studentFilter">
                <option></option>
                {{#each students}}
                    <option value="{{this._id}}">{{this.firstname}} {{this.name}}</option>
                {{/each}}
            </select>
        </div>&nbsp;&nbsp;
    {{/idInArray}}
    <div class="form-group">
        <label for="sessionFilter">Session</label>&nbsp;
        <select class="form-control" id="sessionFilter" name="sessionFilter">
            <option></option>
            {{#each sessions}}
                <option value="{{this._id}}">{{this.date}}</option>
            {{/each}}
        </select>
    </div>&nbsp;&nbsp;
    <div class="form-group">
        <label for="skillFilter">Skill</label>&nbsp;
        <select class="form-control" id="skillFilter" name="skillFilter">
            <option></option>
            {{#each skills}}
                <option value="{{this._id}}">{{this.name}}</option>
            {{/each}}
        </select>
    </div>&nbsp;&nbsp;
    <div class="form-group">
        <label for="courseFilter">Course</label>&nbsp;
        <select class="form-control" id="courseFilter" name="courseFilter">
            <option></option>
            {{#each courses}}
                <option value="{{this._id}}">{{this.name}}</option>
            {{/each}}
        </select>
    </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <div class="form-group">
        <label for="sortBy">Sort by</label>&nbsp;
        <select class="form-control" id="sortBy" name="sortBy">
            <option></option>
            {{#idInArray roles "teacher"}}
                <option value="student">student</option>{{/idInArray}}
            <option value="skill">skill</option>
            <option value="session">session</option>
            <option value="course">course</option>
            <option value="mark">mark</option>
        </select>
    </div>&nbsp;&nbsp;
    <div class="form-group">
        <label for="Order">Order</label>&nbsp;
        <select class="form-control" id="Order" name="Order">
            <option value="-1"></option>
            <option value="1">ascending</option>
            <option value="-1">descending</option>
        </select>
    </div>&nbsp;&nbsp;
    <button type="submit" class="btn btn-primary">Set filter</button>
    <button type="submit" class="btn btn-danger" id="Reset" name="Reset" value="1">Reset</button>
</form>
<HR>
<table class="table">
    <tr>
        {{#if studentFilterObject}}<a href="#" class="btn btn-primary  disabled"
                                      role="button">{{studentFilterObject.firstname}} {{studentFilterObject.name}}</a>
            &nbsp;{{/if}}
        {{#if sessionFilterObject}}
            <a href="#" class="btn btn-primary  disabled" role="button">{{sessionFilterObject.date}}</a> &nbsp; {{/if}}
        {{#if skillFilterObject}}
            <a href="#" class="btn btn-primary  disabled" role="button">{{skillFilterObject.name}}</a> &nbsp; {{/if}}
        {{#if courseFilterObject}}
            <a href="#" class="btn btn-primary  disabled" role="button">{{courseFilterObject.name}}</a>  {{/if}}
    </tr>
</table>
<!--Scores display-->
{{#idInArray roles "teacher"}}
    <table class="table">
        <tr>

            <th>Student</th>

            <th>Course</th>
            <th>Skill</th>
            <th>Session</th>
            <th>Mark</th>

        </tr>
        {{#each evaluations}}
            <tr>

                <td>{{this.student.firstname}} {{this.student.name}}</td>
                <td>{{this.course.name}}</td>
                <td>{{this.skill.name}}</td>
                <td>{{this.session.date}}</td>
                <td>{{this.mark}}</td>

            </tr>
        {{/each}}
    </table>
{{/idInArray}}
{{#idInArray roles "student"}}
    <table class="table">
        <tr>
            <th>Course</th>
            <th>Skill</th>
            <th>Session</th>
            <th>Mark</th>

        </tr>
        {{#each evaluations}}
            <tr>
                <td>{{this.course.name}}</td>
                <td>{{this.skill.name}}</td>
                <td>{{this.session.date}}</td>
                <td>{{this.mark}}</td>

            </tr>
        {{/each}}
    </table>
{{/idInArray}}
{{{paginateHelper pagination limit="10"}}}
<!--Export buttons-->
<form class="form-inline" action="/data.post" method="post">
    <button type="submit" class="btn btn-primary btn-success" name="export_type" value="CSV"><i
            class="fa fa-download"></i> Export as CSV
    </button>
    <button type="submit" class="btn btn-primary btn-success" name="export_type" value="JSON"><i
            class="fa fa-download"></i> Export as JSON
    </button>
    <button type="submit" class="btn btn-primary btn-success" name="export_type" value="XML"><i
            class="fa fa-download"></i> Export as XML
    </button>
</form>
</body>