<h2>Courses List</h2>

<input type="button" class="btn btn-secondary" value="Add course" OnClick="window.location.href='/create/course' "/>
<input type="button" class="btn btn-secondary" value="CRUD" OnClick="window.location.href='/CRUD' "/>
<HR>

<table class="table">
    <tr>
        <th>Name</th>
        <th>Teacher</th>
        <th>Sessions</th>
        <th>Students</th>
        <th>Skills</th>
    </tr>
    {{#each List}}
        <tr>
            <td>{{this.name}}</td>
            <td>{{this.teacher.name}}</td>
            <td>
                {{#each this.sessions}}
                    {{this.date}}<br/>
                {{/each}}
            </td>
            <td>
                {{#each this.students}}
                    {{this.name}}<br/>
                {{/each}}
            </td>
            <td>
                {{#each this.skills}}
                    {{this.name}}<br/>
                {{/each}}
            </td>
            <td><a href="/edit/course/{{this._id}}">Edit</a></td>
            <td><a href="/remove/course/{{this._id}}">Remove</a></td>
        </tr>
    {{/each}}
</table>
